* {
	box-sizing: border-box;
}

body {
	font-size: 14px;
	color: #282828;
	font-family: Arial;
}

h1, h2 {
	font-family: "Fira Sans";
	font-weight: normal;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 35px;
}

p {
	line-height: 1.4em;
}

a {
	color: #282828;
}

.clearfix:before,
.clearfix:after {
  content:"";
  display:table;
}
.clearfix:after {
  clear:both;
}
.clearfix {
  zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

.page-root {

}

.page-header {
	padding-bottom: 100px;
	border-bottom: 3px solid #282828;
	background-color: #ffeb3b;
}

.page-header.small {
	
}

.page-header-vendor {
	width: 550px;
	padding: 70px 0;
	margin: 0 auto;
}

.vendor-container {
	float: right;
}

.vendor-container .avatar {
	width: 50px;
	border-radius: 5px;
	vertical-align: middle;
}

.vendor-container .stars {
	vertical-align: middle;
	font-size: 30px;
}

.vendor-container .stars:before {
	content: '\2605';
}

.vendor-logo {
	font-size: 200px;
	font-family: "Fira Sans";
	font-weight: bold;
	line-height: 1;
	text-align: center;
	background-image: url(https://cdn1.iconfinder.com/data/icons/bug-s-life/500/ant-512.png);
	background-repeat: no-repeat;
	background-size: 170px;
	width: 550px;
	padding-left: 180px;
	box-sizing: border-box;
	margin: 0 auto;
}

.vendor-abbr {
	font-size: 24px;
	font-weight: normal;
	text-align: left;
}

.page-container {
	margin: 20px auto;
	width: 800px;
}

.page-menu {
	width: 250px;
	vertical-align: top;
	display: inline-block;
	font-size: 18px;
}

.page-menu .main-menu,
.page-menu .main-menu .sub-menu {
	list-style: none;
	padding: 0;
	margin: 0;
}

.page-menu .main-menu .sub-menu {
	margin-left: 20px;
}

.main-menu > li > a {
	font-weight: bold;
}

.main-menu li {
	line-height: 1.5em;
}

.page-content {
	display: inline-block;
	vertical-align: top;
	width: 530px;
}

.main-menu li a {
	text-decoration: none;
}

.main-menu li a:hover {
	text-decoration: underline;
	color: red;
}

.page-footer {
	padding: 50px;
	border-top: 1px solid #ddd;
	background-color: #eee;
}

.section {
	font-size: 16px;
}

.section .section-footer {
	margin: 5px 0;
	text-align: right;
}

.section .section-footer a {
	text-decoration: none;
	color: #aaa;
	font-size: 14px;
}

.section .section-footer a:before {
	content: '#';
}

.token.property, .token.tag, .token.boolean, .token.number, .token.constant, .token.symbol, .token.deleted {
  color: #693;
}

.token.atrule, .token.attr-value, .token.keyword {
  color: #936;
}

.token.regex, .token.important, .token.variable {
  color: #369;
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
	background: #fff;
	margin: 10px 0;
	padding: 0;
}

code[class*="language-"], pre[class*="language-"] {
	color: #282828;
}